<footer>
    <mat-toolbar class="toolbarNav">
        <div><mat-icon class="material-icons color_blue">home</mat-icon><span class="icon_text">Home</span></div>
        <div><mat-icon class="material-icons color_blue">currency_exchange</mat-icon><span class="icon_text">Exchange</span></div>
        <div><mat-icon class="material-icons color_blue">location_on</mat-icon><span class="icon_text">Map</span></div>
        <div><mat-icon class="material-icons color_blue">settings</mat-icon><span class="icon_text">Settings</span></div>
    </mat-toolbar>
</footer>
