<mat-toolbar class="toolbarButtons">
    <div><mat-icon class="material-icons color_blue">outbox</mat-icon><span class="icon_text">Send</span></div>
    <div><mat-icon class="material-icons color_blue">move_to_inbox</mat-icon><span class="icon_text">Receive</span></div>
    <div><mat-icon class="material-icons color_blue">account_balance_icon</mat-icon><span class="icon_text">Utilities</span></div>
    <div><mat-icon class="material-icons color_blue">pie_chart</mat-icon><span class="icon_text">Stats</span></div>
</mat-toolbar>
