<h3>Transactions <mat-icon class="material-icons">search</mat-icon></h3> 

<table>
    <th style="float:left;">Yesterday</th>
    <tr>
        <p><span class="entry"><mat-icon class="material-icons">tv</mat-icon>NetFlix</span><span class="expenditure">$9.99</span></p>
        <p>Jul 3, 2022 13:23</p>
    </tr>
    <tr>
        <p><span class="entry"><mat-icon class="material-icons">coffee</mat-icon>Starbucks</span><span class="expenditure">$5.42</span></p>
        <p>Jul 3, 2022 09:13</p>
    </tr>
    <th style="float:left;">July 2</th>
    <tr>
        <p><span class="entry"><mat-icon class="material-icons">face3</mat-icon>Melania Skorohod</span><span class="income">$300</span></p>
        <p>Jul 2, 2022 09:13</p>
    </tr>
</table>

